img{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.container{
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.945);
    text-align: center;
}

body{
    font-family: "SF Pro";
    overflow: hidden;
}


#clock{
    color:rgba(255, 255, 255, 0.918);
    text-shadow: 0px 0px 13px rgba(253, 253, 253, 0.747);
    position: absolute;
    top:20%;
    left:50%;
    transform: translate(-50%,50%);
}


#greeting{
    position:absolute;
    color:rgba(255, 255, 255, 0.89);
    font-family: Caveat;
    letter-spacing: 1px;
    animation: fadein 3s;
    top: 41%;
    left:50%;
    transform: translate(-50%,50%);
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#input2{
    position:absolute;
    top: 55%;
    left:50%;
    transform: translate(-50%,50%);
    width: 230px;
    height: 28px;
    font-family: "SF Pro";
    letter-spacing: 1px;
    color: white;
    background-color: rgba(224, 224, 224, 0.11);
    border: 1px solid rgba(255, 255, 255, 0.61);
    box-shadow: 0px 0px 1px azure;
}


#todo-list{
    list-style: none;
    padding: 0px 0px 0px 20px;
}

#todo-container{
    position:absolute;
    top: 58%;
    left:50%;
    transform: translateX(-50%);
    margin: 20px 0px 0px 0px;
}

li>span{
    font-size: 17px;
    color: rgba(255, 255, 255, 0.918);
}
li>button{
    background-color: rgba(224, 224, 224, 0);
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.719);
    padding: 1px 5px;
    margin: 0px 15px;
    border:1px solid rgba(255, 255, 255, 0.842);
    color:rgba(255, 255, 255, 0.822);
    border-radius: 3px;
}
input::placeholder{
    color: rgba(255, 255, 255, 0.753);
    font-weight: 100;
}

#login-form{
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,50%);
}

#input1{
    width: 210px;
    height: 25px;
    color: white;
    font-size:18px;
    background-color: rgba(255, 255, 255, 0);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.582);
    border-radius: 3px;
}

#btn{
    height:30px;
    font-size: 20px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.836);
    background-color: rgba(214, 135, 135, 0);
    border: 2px solid rgba(255, 255, 255, 0.582);
    border-radius: 3px;
    margin: 0px 0px 0px -30px;
}
#quote{
    position: fixed;
    bottom:0;
    color: rgba(255, 255, 255, 0.842);
    font-size: 16px;
    letter-spacing: 0.5px;
    width:100%;
    text-align: center;
}

.hidden{
    display: none;
}